<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <clear />
    <add key="ServerAddress" value="127.0.0.1" />
    <add key="ManagementEndpoint" value="127.0.0.1:300" />
    <add key="PasswordLength" value="12" />
    <add key="ClientKeyLength" value="10" />
  </appSettings>
	<connectionStrings>    
    <add name="Softnet" connectionString="data source=(localdb)\MSSQLLocalDB;Initial Catalog=Softnet;User ID=sa;Password=p@radise190" providerName="System.Data.SqlClient" />
  </connectionStrings>
	<system.web>
		<customErrors mode="On" />
		<compilation debug="true" targetFramework="4.0" />
		<authentication mode="Forms">
			<forms loginUrl="~/account/login.aspx" timeout="2880" />
		</authentication>
		<membership>
			<providers>
				<clear />
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="Softnet" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="Softnet" />
			</providers>
		</membership>
		<profile>
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="Softnet" applicationName="/" />
			</providers>
		</profile>
	 <roleManager enabled="true">
   <providers>
    <clear />
    <add connectionStringName="Softnet" applicationName="Softnet" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />    
   </providers>
  </roleManager>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
        <defaultDocument>
            <files>
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />                
            </files>
        </defaultDocument>
	</system.webServer>
</configuration>
